Django>=5.0
Pillow
stripe
boto3
django-storages
psycopg2-binary
dj-database-url
pytest
pytest-django
boto3
dj-database-url
Django>=5.0
django-storages
Pillow
psycopg2-binary
pytest
pytest-django
stripe
