{% extends 'base.html' %}
{% block content %}
  <article>
    <h1>
      {{ product.name }}
      {% if product.discount_percent %}
        <span class="badge">-{{ product.discount_percent }}%</span>
      {% endif %}
    </h1>

    {% if product.image %}<img src="{{ product.image.url }}" alt="{{ product.name }}" />{% endif %}

    {% if product.old_price %}
      <p>
        <small class="contrast">
          <s>{{ product.old_price }} лв</s>
          <s>{% if product.old_price_eur %} ({{ product.old_price_eur }} €){% endif %}</s>
        </small>
      </p>
    {% endif %}

    <p>Цена: <strong>{{ product.price }} лв</strong>
      {% if product.price_eur %} <small>({{ product.price_eur }} €)</small>{% endif %}
    </p>

    <p>Наличност: {{ product.stock }}</p>
    <form action="/cart/add/{{ product.id }}/" method="post">
      {% csrf_token %}
      <input type="number" name="qty" value="1" min="1">

      {% if product.variants.all %}
        <form action="/cart/add/{{ product.id }}/" method="post">
          {% csrf_token %}
          <label>Размер</label>
          <select name="size">
            {% for v in product.variants.all %}
              {% if v.size %}<option value="{{ v.size }}">{{ v.size }}</option>{% endif %}
            {% endfor %}
          </select>
          <label>Цвят</label>
          <select name="color">
            {% for v in product.variants.all %}
              {% if v.color %}<option value="{{ v.color }}">{{ v.color }}</option>{% endif %}
            {% endfor %}
          </select>
          <input type="number" name="qty" value="1" min="1">
          <button type="submit">Добави</button>
        </form>
      {% endif %}
      <button type="submit">Добави в количката</button>
    </form>
  </article>
{% endblock %}